#公共配置
server:
    tomcat:
      uri-encoding: UTF-8


debug: false
spring:
  #激活哪一个环境的配置文件
  profiles:
    active: @activeProfile@
  #视图配置
  mvc:
    static-path-pattern: /static/**
  #网络请求配置
  http:
      encoding:
        force: true
        charset: UTF-8
        enabled: true
      multipart:
          max-file-size: 100MB
          max-request-size: 100MB
          enabled: true
  #模板引擎配置
  freemarker:
      template-loader-path: classpath:/templates/
      prefer-file-system-access: false
      settings:
        template_update_delay: 0
        classic_compatible: true
        number_format: 0.######
        template_exception_handler: ignore
      request-context-attribute: rc
      charset: UTF-8
  #连接池配置
  datasource:
    ## com.mysql.cj.jdbc.Driver
    ## com.mysql.jdbc.Driver
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      validationQuery: SELECT 1
      initialSize: 10
      minIdle: 10
      maxActive: 200
      maxWait: 100000
      minEvictableIdleTimeMillis: 180000
      testOnBorrow: false
      testWhileIdle: true
      removeAbandoned: true
      removeAbandonedTimeout: 1800
      logAbandoned: true
      poolPreparedStatements: true
      maxOpenPreparedStatements: 100

  #缓存配置
  cache:
      type: redis
      cache-names: elephant

#mybatisPlus
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  #实体扫描，多个package用逗号或者分号隔离
  typeAliasesPackage: com.destiny.elephant.entity
  global-config:
    refresh: true
    banner: true
    db-config:
       #主键类型  0:"数据库ID自增", 1:"用户输入ID",2:"全局唯一ID (数字类型唯一ID)", 3:"全局唯一ID UUID";
       id-type: auto
       #字段策略 0:"忽略判断",1:"非 NULL 判断"),2:"非空判断"
       field-strategy: not_empty
       #驼峰下划线转换
       column-underline: true
       #刷新mapper 调试神器
       ## refresh-mapper: true
       db-type: mysql
       #数据库大写下划线转换
       #capital-mode: true
       #序列接口实现类配置
       #key-generator: com.baomidou.springboot.xxx
       #逻辑删除配置
       #    logic-delete-value: 1
       #    logic-not-delete-value: 0
       #自定义填充策略接口实现
       meta-object-handler: com.destiny.elephant.config.SysMetaObjectHandler
       #自定义SQL注入器
       #sql-injector: com.baomidou.springboot.xxx
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false






